#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: white;

}
#menu img{
	display: fixed;
	width: 40px;
	height: 40px;
}
.logo{
	float: right;
	padding-right: 20px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(139, 116, 243);
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}
/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: rgb(10, 10, 10);
}

h1 {
	text-align: center;
}
iframe{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fb-like{
	display: block;
	margin-left: auto;
	margin-right: auto;
}